<!DOCTYPE html>

<html>
<head>
   <meta charset="UTF-8">
   <title>{{ page.title }}</title>
   <meta name="author" content="Lucian Adrian Grijincu" />
   <link href="http://feeds.feedburner.com/luciangrijincu" rel="alternate" title="Lucian Adrian Grijincu" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>


<body>
<div id="body-inner">
  <div class="title">
    <a href="/">Lucian Adrian Grijincu</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Lucian Adrian Grijincu <br />
        lucian.grijincu@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/luciang/">github.com/luciang</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/luciangrijincu">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-9738726-1");
  pageTracker._trackPageview();
  } catch(err) {}
</script>

</body>
</html>
